* {
  tls {$ADMIN_EMAIL}
}

{$WWW_URL}:80 {$WWW_URL}:8080 {
  root /app/demo/dist

  proxy /ws biz:8443 {
    transparent
    websocket
    header_upstream Sec-WebSocket-Protocol {>Sec-WebSocket-Protocol}
  }
}
